
.main_laptop{
    width: 100%;
    height: fit-content;
    gap: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  
    
}
.firstSection_laptop{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url("/images/vinice.jpg");
    background-size:cover;
    
    justify-content: center;
    text-align: center;
}
.secondSection_laptop{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #EEEEEE;
    
    justify-content: center;
    text-align: left;
}
.thirdSection_laptop{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    
    justify-content: center;
    text-align: left;
}
.fourthSection_laptop{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    
    justify-content: center;
    text-align: left;
}
.fifthSection_laptop{
    width: 100%;
    height: 100%;
    min-height: 90vh;
    background-color: #EEEEEE;
    
    justify-content: center;
    text-align: left;
}


.main_mobile{
    width: 100%;
    height: fit-content;
    gap: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
}
.firstSection_mobile{
    width: 100%;
    height: 100%;
    min-height: 50vh;
    background-image: url("/images/vinice.jpg");
    background-size:cover;
    
    justify-content: center;
    text-align: center;
}
.secondSection_mobile{
    width: 100%;
    height: 100%;
    min-height: 30vh;
    padding-bottom: 2vh;
    background-color: #EEEEEE;
    
    justify-content: center;
    text-align: left;
}
.thirdSection_mobile{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    
    justify-content: center;
    text-align: left;
}
.fourthSection_mobile{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: white;
    
    justify-content: center;
    text-align: left;
}
.fifthSection_mobile{
    width: 100%;
    height: 100%;
    min-height: 90vh;
    background-color: #EEEEEE;
    
    justify-content: center;
    text-align: left;
}